<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-6">
           <img src="assets/img/fblogo.jpg" alt=""> 
        </div>
        <div class="col-lg-6">
           <div class="row">
               <div class="col-lg-4">
                   <label for="">Username</label>
                   <input type="text" class="form-control">
               </div>
               <div class="col-lg-4">
                   <label for="">Password</label>
                   <input type="text" class="form-control">
                   <label for=""><a routerLink="paswrd">forgotten account?</a></label>
               </div>
               <div class="col-lg-4">
                <button type="button" class="btn btn-primary">Login</button>
               </div>
            </div> 
         </div>
    </div>
    
</div>

    
