<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-6">
            <img src="assets/img/fb.png" alt="" width="100%" height="93%">
        </div>
        <div class="col-lg-6">
            <h1>Create a new Account</h1>
            <p>It's quick and easy</p>
            <input type="text" placeholder="First name" size="50"><br><br>
            <input type="text" placeholder="Suname" size="50"><br><br>
            <input type="text" placeholder="Mobile number or email address" size="50"><br><br>
            <input type="text" placeholder="New Password" size="50"><br><br>
            <b><label for="">Date of Birth</label></b><br><br>
            <input type="date" ><br><br>
            <b><label for="">Gender</label></b><br><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="">Female</label><br><br>
            <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.You may 
                receive SMS notifications from us and can OPT out at any time.
            </p>
            <button type="button" class="btn btn-success" >Sign Up</button><br><br><br>
        </div>
    </div>
</div>
